   
       <div class="footer">
        <div class="inner-footer">
        
        <div class="footer-items">
            <div class="logo2">
                <h1>MOKAU <span>Invest</span></h1>
            </div>
            <p>
                  Is focused on launching distruptive ideas.
                  Our development process are highly industrialised 
                  which accelerate our développement cycles.   
            </p> 
        </div>
        
        <div class="footer-items">
            <h2>Quick Links</h2>
            <div class="border"></div>
            <ul>
                <a href="#"><li>Home</li></a>
                <a href="#team"><li>Features</li></a>
                <!-- <a href="#contact"><li>Support</li></a> -->
                <a href="#contact"><li>Contact Us</li></a>
                <a href="#"><li>Privacy Policy</li></a>
            </ul>              
        </div>
        
        <div class="footer-items">
            <h2>Services</h2>
            <div class="border"></div>
            <ul>
                <a href=""><li>Development</li></a>
                <a href=""><li>FinTech</li></a>
            </ul>               
        </div>
        
        <div class="footer-items">
            <!-- <h2>Contact </h2>
            <div class="border"></div> -->
            
            <div class="social-media">
                <a class="linkedin" href="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="facebook" href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="twitter" href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                
            </div>
        </div>
    
    
    </div>
    <div class="footer-bottom">
        Copyright &copy; Mokau Invest 2020. All right reserved.
    
    </div>