*{
    margin: 0;
    padding: 0;
    /* font-family: "montserrat" ,sans-serif;  */
}


.contact-section{
    background: white;
    background-size: cover;     
}

.title {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 40px;
    height: 5px;
    background-color: #e44d2d;
    margin-bottom: 8px;
}

.text {
    width: 100%;
    color: black;
    margin: 0px auto;
    font-family: 'black' !important;
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
}
    


 /* .border {
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #0984e3;
    margin-bottom: 40px;
}  */

.container-contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 28px;
}

.container-adress {
    width: 250px;
    /* align-self: center; */
    margin-top: 79px;

}

ul {
    
    list-style: none;
    color: #00121b;
    font-size: 15px;
    letter-spacing: 0.5px;
}

i {
    font-size: 30px;
    margin-bottom: 12px;
}

.container-adress li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
}

.contact-form{
    
    max-width: 458px;
    /* margin: auto; */
    padding: 41px 10px;
    font-family: "montserrat" ,sans-serif; 
    overflow: hidden;
}

.contact-form-text{
    
    /* display: block; */
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0;
    border: 0;
    background: #9bb0bb;
    padding: 16px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    
    box-shadow:  0 0 3px 2px #db482b;
}

textarea.contact-form-text{
    
    resize: none;
    height: 120px;
}

.contact-form-btn{
    
    float: right;
    border: 0;
    background: #b33a22;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    
}
.contact-form-btn:hover{
    background: #db482b;
}



/* .contact-form-btn{
    
    float: right;
    border: 0;
    background: #b33a22;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    height: 47px;
    padding: 0px 18px;
    
} */

.textSubmit {
    /* position: absolute; */
    border: 0;  
    background: #b33a2203; 
    color: #fff;
    /* align-self: flex-end; */
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}