<div class="title">
    <div class="line"></div>
    <div class="text">Services</div>
</div>
<div class="bodyservices">
    <div class="container">
        <div class="box">
            <h2>01</h2>
            <h3>Service 1</h3>
            <p>
                Lorem Ipsum has been the standard false text of the printing press since the 1500s,
                 when an anonymous printer assembled pieces of text together to make a sample text font book.
                 when an anonymous printer assembled pieces of text together to make a sample text font book.            
            </p>
        </div>
        
        <div class="box">
            <h2>02</h2>
            <h3>Service 2</h3>
            <p>
                Lorem Ipsum has been the standard false text of the printing press since the 1500s,
                when an anonymous printer assembled pieces of text together to make a sample text font book.
                when an anonymous printer assembled pieces of text together to make a sample text font book.              
            </p>
        </div>
        
        <div class="box">
            <h2>03</h2>
            <h3>Service 3</h3>
            <p>
                Lorem Ipsum has been the standard false text of the printing press since the 1500s,
                 when an anonymous printer assembled pieces of text together to make a sample text font book.
                 when an anonymous printer assembled pieces of text together to make a sample text font book.               
            </p>
        </div>
    </div>
</div>