<div class="container-team-value">
    <div class="title">
        <div class="line"></div>
        <div class="text">features</div>
    </div>
    <div class="container">
        <div class="bg-innovation ">
            <div class="box" (click)="openDatumLab();">
                <div class="container-img">
                    <img src="/assets/aboutus/innovation.png" alt="">
                </div>
                <h3>Innovation</h3>
                <div class="lineTwo"></div>
                <p>
                    Lorem Ipsum has been the standard false text of the printing press since the 1500s, has been the standard false 
                </p>
            </div>
        </div>
        <div class="bg-excellence">
            <div class="box" (click)="openDatumLab();">
                <div class="container-img">
                    <img src="/assets/aboutus/excellent-light.png" alt="">
                </div>
                <h3>Excellence</h3>
                <div class="lineTwo"></div>
                <p>
                    Lorem Ipsum has been the standard false text of the printing press since the 1500s, has been the standard false 
                </p>
            </div>
        </div>
        <div class="bg-collaboration">
            <div class="box" (click)="openDatumLab();">
                <div class="container-img">
                    <img src="/assets/aboutus/collaboration.png" alt="">
                </div>
                <h3>Collaboration</h3>
                <div class="lineTwo"></div>
                <p>
                    Lorem Ipsum has been the standard false text of the printing press since the 1500s, has been the standard false 
                </p>
            </div>
        </div> 
        <div class="bg-comptitivity">
            <div class="box" (click)="openDatumLab();">
                <div class="container-img">
                    <img src="/assets/aboutus/competitivity.png" alt="">
                </div>
                <h3>Competitivity</h3>
                <div class="lineTwo"></div>
                <p>
                    Lorem Ipsum has been the standard false text of the printing press since the 1500s, has been the standard false 
                </p>
            </div>
        </div>  
        <div class="bg-commitment">
            <div class="box" (click)="openDatumLab();">
                <div class="container-img">
                    <img src="/assets/aboutus/commitment.png" alt="">
                </div>
                <h3>Commitment</h3>
                <div class="lineTwo"></div>
                <p>
                    Lorem Ipsum has been the standard false text of the printing press since the 1500s, has been the standard false
                </p>
            </div>
        </div>   
        <div class="bg-analysis">
            <div class="box" (click)="openDatumLab();">
                <div class="container-img">
                    <img src="/assets/aboutus/result.png" alt="">
                </div>
                <h3>Analysis</h3>
                <div class="lineTwo"></div>
                <p>
                    Lorem Ipsum has been the standard false text of the printing press since the 1500s, has been the standard false
                </p>
            </div>
        </div>    
    </div>
</div>