

<div class="title">
    <div class="line"></div>
    <div class="text">Team</div>
</div>
<div  class="container">
    <div data-aos="zoom-in" class="img-top"></div>
    <div class="aboutus">
        <div class="right">
            <div data-aos="zoom-out-right" class="itm">
                <img class="icon" src="/assets/aboutus/innovation.png"/>
                <div class="icon-title-light">Innovation</div>
            </div>
            <div data-aos="zoom-out-right" class="itm">
                <img class="icon" src="/assets/aboutus/excellent-light.png"/>
                <div class="icon-title-dark">Excellence</div>
            </div>
            <div data-aos="zoom-out-right" 
                data-aos-easing="ease-in-back"
                data-aos-delay="100"
                data-aos-offset="0"
                data-aos-anchor-placement="top-bottom"
                class="itm">
                <img class="icon" src="/assets/aboutus/commitment.png"/>
                <div class="icon-title-light">Commitment</div>
            </div>
        </div>
        <div data-aos="zoom-in" class="img-center"></div>
        <div  class="left">
            <div data-aos="zoom-out-left" class="itm">
                <img class="icon" src="/assets/aboutus/result.png"/>
                <div class="icon-title-dark">Analysis</div>
            </div>
            <div data-aos="zoom-out-left" class="itm">
                <img class="icon" src="/assets/aboutus/collaboration.png"/>
                <div class="icon-title-light">Collaboration</div>
            </div>
            <div data-aos="zoom-out-left" 
                data-aos-easing="ease-in-back"
                data-aos-delay="100"
                data-aos-offset="0"
                data-aos-anchor-placement="top-bottom"
                class="itm">
                <img class="icon" src="/assets/aboutus/competitivity.png"/>
                <div class="icon-title-dark">Competitivity</div>
            </div>
        </div>
    </div>
</div>











































  <!-- <h1>About Us</h1>
    <span class="border"></span>
    <div class="ps">
        <a href="#"><img class ="logo" src="/assets/aboutus/MokauInvest.png" alt=""></a>  
    
    </div>
    
    <div class="section" id="p1">
        <span class="name"></span>
        <span class="borderBottom"></span>
        <h1 class="toTop">MOKAU Invest</h1>
        
        <p class="text">
            Mokau Invest is focused on launching distruptive ideas.
            Our development process are highly industrialised which accelerate our développement cycles. 
            our startups are screened and selected based on clear and defined criteria helping them 
            creating value through technical and financial support.          
        </p>
        
        
        
        
        
    </div> -->