
    <!-- Content -->
<div id="content">
    <h2>Mokau <span>Invest</span></h2><br>

    <p class="pr">
        Is focused on launching distruptive ideas.
        Our development process are highly industrialised which accelerate our développement cycles.
        our startups are screened and selected based on clear and defined criteria helping them creating 
        value through technical and financial support.
    </p>
    
    <div class="row">
        <div data-aos="zoom-in-right" 
            data-aos-offset="0"
            class="column">
            <div class="bg-img">
                <img src="/assets/home/building2.png">
            </div>
            <div class="text">Building value</div>
        </div>
        <div class="line"></div>
        <div data-aos="zoom-in-right" 
            data-aos-offset="0"
            class="column">
            <div class="bg-img">
                <img src="/assets/home/Idea2.png"> 
            </div>
            <div class="text">Accelerating ideas</div>
        </div>
        <div class="line-x"></div>
        <div data-aos="zoom-in-left"
             data-aos-offset="0"
             class="column">
            <div class="bg-img">
                <img src="/assets/home/startup3.png">
            </div>
            <div class="text">Propelling startups</div>
        </div>
        <div class="line"></div>
        <div data-aos="zoom-in-left" 
            data-aos-offset="0"
            class="column">
            <div class="bg-img">
                <img src="/assets/home/propStartup3.png">
            </div>
            <div class="text">Distrupting sectors</div>
        </div>
    </div> 
</div>

