
    <!-- Content -->
<div id="content">
    <h2>Mokau <span>Invest</span></h2>
    <p class="pr">
        Is focused on launching disruptive ideas. Our development processes are highly industrialized which accelerates our development cycles. Our startups are screened and selected based on clear and defined criteria, helping them create value through technical and financial support.
    </p>
    
    <div class="row">
        <div data-aos="zoom-in" class="column">
            <div class="bg-img">
                <img src="assets/home/building2.png" alt="Building Value Icon">
            </div>
            <div class="text">Building value</div>
        </div>

        <div data-aos="zoom-in" class="column">
            <div class="bg-img">
                <img src="assets/home/Idea2.png" alt="Accelerating Ideas Icon"> 
            </div>
            <div class="text">Accelerating ideas</div>
        </div>

        <div data-aos="zoom-in" class="column">
            <div class="bg-img">
                <img src="assets/home/startup3.png" alt="Propelling Startups Icon">
            </div>
            <div class="text">Propelling startups</div>
        </div>

        <div data-aos="zoom-in" class="column">
            <div class="bg-img">
                <img src="assets/home/propStartup3.png" alt="Disrupting Sectors Icon">
            </div>
            <div class="text">Disrupting sectors</div>
        </div>
    </div> 
</div>


